.modalStyle {
  top: 0;
}

.normal {
}

.create {
  margin-bottom: 1.5em;
}

.operation a {
  margin: 0 .5em;
}

.uploadPlus {
  font-size: 28px;
}

.listBtnGroup, .productBtn {
  overflow: hidden;
  button {
    float: left;
    &:first-child {
      margin-right: 15px;
    }
  }
}

.listBtnGroup {
  padding-left: 89px;
}

.productBtn {
  margin-top: 15px;
	padding: 15px 0;
	border-top: 1px solid #ddd;
}
